<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BJMicroAccounts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--<connectionStrings>
    -->
  <!--<add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AU8GBJS\SQLEXPRESS;initial catalog=MicroAccounts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
  <!--<connectionStrings>
    <add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=AttachDbFilename=|DataDirectory|\App_Data\MicroAccounts.mdf;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />

    <add name="BJMicroAccounts.Properties.Settings.MicroAccountsConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\MicroAccounts.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BJMicroAccounts.Properties.Settings.Dummy" connectionString="Data Source=DESKTOP-AU8GBJS\SQLEXPRESS;Initial Catalog=Dummy;Integrated Security=True" />
  </connectionStrings>-->
  <!--Database=msuareso_FranchiseManagment;User Id=msuareso_admin123;Password=admin@123;" providerName="System.Data.SqlClient" />-->

  <!--<connectionStrings>
    <add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Integrated Security=False;Database=MicroAccounts;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BJMicroAccounts.Properties.Settings.MicroAccountsConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\MicroAccounts.mdf;Integrated Security=True;Connect Timeout=30Catalog=MicroAccounts;Integrated Security=True;Database=MicroAccounts"
      providerName="System.Data.SqlClient" />
    <add name="BJMicroAccounts.Properties.Settings.Dummy" connectionString="Data Source=EVIL-PC\SQLEXPRESS;Initial Catalog=MicroAccounts;Integrated Security=True" />
  </connectionStrings>-->

  <!--<connectionStrings>
    <add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-H69QDPP\SQLEXPRESS;Integrated Security=False;Database=MicroAccounts;User Id=sa;Password=Hs9898464496Hs;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BJMicroAccounts.Properties.Settings.MicroAccountsConnectionString"
      connectionString="Data Source=DESKTOP-H69QDPP\SQLEXPRESS;Integrated Security=True;Connect Timeout=30Catalog=MicroAccounts;Integrated Security=False;Database=MicroAccounts;User Id=sa;Password=Hs9898464496Hs;"
      providerName="System.Data.SqlClient" />
    <add name="BJMicroAccounts.Properties.Settings.Dummy" connectionString="Data Source=EVIL-PC\SQLEXPRESS;Initial Catalog=MicroAccounts;Integrated Security=True" />
  </connectionStrings>-->

  <connectionStrings>
    <!--<add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DM834UN\SQLEXPRESS;Integrated Security=True;Database=MicroAccounts;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BJMicroAccounts.Properties.Settings.MicroAccountsConnectionString" connectionString="Data Source=DESKTOP-DM834UN\SQLEXPRESS;Integrated Security=True;Connect Timeout=30Catalog=MicroAccounts;Integrated Security=False;Database=MicroAccounts;" providerName="System.Data.SqlClient" />
    <add name="BJMicroAccounts.Properties.Settings.Dummy" connectionString="Data Source=DESKTOP-DM834UN\SQLEXPRESS;Initial Catalog=MicroAccounts;Integrated Security=True" />
  <add name="MicroAccountsEntities1" connectionString="metadata=res://*/Data.MicroAccounts.csdl|res://*/Data.MicroAccounts.ssdl|res://*/Data.MicroAccounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DM834UN;initial catalog=MicroAccounts;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <BJMicroAccounts.Properties.Settings>
      <setting name="FromMailId" serializeAs="String">
        <value>dropzonecomputer09@gmail.com</value>
      </setting>
      <setting name="ToMailId" serializeAs="String">
        <value>harshsoni6011@gmail.com</value>
      </setting>
      <setting name="Pwd" serializeAs="String">
        <value>Hs9898464496Hs</value>
      </setting>
    </BJMicroAccounts.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
